target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
ex.json
ext2.json
liboutput/
src/main/java/mx/com/sifei/descargasat/ws/App.java
.vscode/
.settings/